header {
    height: 72px;
    max-width: 100%;
    background: white;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}

.header-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 80px 24px 97px;
    padding: 17px 0 15px;
    width: 956px;
    background-color: rgba(255, 255, 255, 0.95);
}

.header__logo {
    width: 121px;
    height: 13px;
}

.header__input::placeholder {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
}
.header__urgency {
    width: 65px;
    padding: 8px 11px;
    background-color: transparent;
    border-color: #dadada;
    border-style: solid;
    max-width: 40px;
}

.header__address {
    width: 292px;
    padding: 8px 72px 8px 36px;
    background-color: transparent;
    border-color: #dadada;
    border-style: solid;
    border-radius: 2px;
    max-width: 292px;
}

.button{
    color: #262626;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.btn_register{
    background-color: #262626;
    border-color: #262626;
    border-radius: 2px;
    color: white;
    padding: 8px 15px;
    margin-left: 16px;
    text-decoration: none;
}

.btn_sign-in{
    color:#262626;
    text-decoration: none;
    padding: 8px 15.5px;
    border: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}
.cards {
  display: flex;
  justify-content: center;
  margin-top: 71px;
}
.searchbar {
  display: flex;
  flex-direction: column;
  width: 956px;
  justify-content: center;
  padding-bottom: 17px;
  border-bottom: 1px solid #757575;
  border-radius: 1px;
  color: 626262;

  display: flex;
  gap: 8px;
}



.searchbar {
  position: relative;
}

.search__label {
  margin-top: 73px;
}

.search__label:before {
  content: url("../img/path.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 15px;
}

.search::placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--light-gray-font);
  opacity: 0.5;
}

.cards__title {
    font-family: var(--main-font);
    font-size: 22px;
    line-height: 34px;
    color: var(--font-color);
    align-self: flex-start;
    margin: 56px 0 16px;
  }
  
.cards_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 40px;
    justify-content: space-between;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 308px;
    padding: 0 0 21px;
    text-decoration: none;
  }
  
  .card__restaurant {
    font-family: 'Roboto';
    font-size: 16px;
    color: #262626;
    margin-top: 16px;
  }
  
  .card__category {
    font-family: 'Roboto';
    font-size: 14px;
    color: #262626;
    line-height: 21px;
    margin: 4px 0;
  }
  
  .card__time {
    font-family: 'Roboto';
    font-size: 13px;
    color: #262626;
    line-height: 21px;
  }
  .footer {
    background-color: #262626;
    color: #fff;
  }
  
  .footer__logo {
    width: 100%;
    height: 116px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  }
  
  .footer__logo a {
    width: 191px;
    height: 20px;
  }
  
  .footer__info {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer__info-contacts-dropdown {
    width: 227px;
    height: 40px;
    margin-bottom: 32px;
    padding-right: 8px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 2px;
  }
  
  .footer__info-contacts-dropdown:hover {
    box-shadow: 0 0 3px #fff;
  }
  
  .footer__info-contacts-dropdown select {
    width: 100%;
    height: 40px;
    margin-left: 17px;
    background: url("../icons/arrow-back-icon.svg") no-repeat right #3b3b3b;
    outline: none;
    appearance: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .footer__info-contacts-hashtag {
    margin-bottom: 20px;
  }
  
  .footer__info-contacts-hashtag_green {
    margin: 0;
    font-size: 16px;
    color: #49a144;
  }
  
  .footer__info-contacts-hashtag_white {
    color: #fff;
  }
  
  .footer__info-social-links {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__info-block-group li+li {
    margin-top: 23px;
  }
  
  .footer__info-block-group a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer__info-block-group a:hover {
    color: #82c281;
  }
  
  .footer__applications {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    column-gap: 4.3%;
    border-top: 1px solid rgb(255, 255, 255, 0.4);
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  }
  
  .footer__copyright {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 24px;
    white-space: nowrap;
    font-size: 11px;
  }
  
  .footer__copyright a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer__copyright a:hover {
    color: #82c281;
  }
  
  .button-arrow-up {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59bd5a;
    border-radius: 2px;
  }
  hr {
    border-top: 1px #ccc;
    margin: 10px; 
    
  }

  .accordion {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: #3b3b3b;
    cursor: pointer;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.scrollToTop {
  color: #fff;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #262626;
  z-index: 1005;
}